@font-face {
    font-family: OratorStd;
    src: url("../fonts/OratorStd.otf") format("opentype");
}
@font-face {
    font-family: Zapfino;
    src: url("../fonts/Zapfino.ttf") format("truetype");
}


body {
    margin: 0;
    padding: 0;
    font-family: OratorStd, sans-serif;
    background: #DAE2CF url(../images/wood.jpg) repeat left top;
    font-size: 16px;
    color: #3B3B3B;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
    letter-spacing: -2px;
    text-transform: uppercase;
    font-weight: normal;
    color: #3B3B3B;
}

h1 {
    font-size: 2em;
}

h2 {
    letter-spacing: 1px;
    font-size: 2.4em;
}

h3 {
    font-size: 1.6em;
}

p, ul, ol {
    margin-top: 0;
    line-height: 180%;
}

ul, ol {
}

a {
    text-align: center;
    color: black;
    font-family: OratorStd, serif;
    font-size: 18px;
    text-underline: none;
    padding: 10px;
    margin: auto;
    z-index: 0;
}

#header-wrapper {
}

#header {
    display: block;
    text-align: right;
    width: 98%;
    margin: 14px auto;
    padding: 10px auto;
    color: #d0d9e0;
}

#content {
    display: block;
    width: 600px;
    background-color: oldlace;
    padding: 10px;
    text-align: center;
    font-size: 22px;
    color: #28242a;
    margin: 2px auto;
    box-shadow: -4px 3px 4px white;
}