@font-face {
    font-family: OratorStd;
    src: url("../fonts/OratorStd.otf") format("opentype");
}
@font-face {
    font-family: Zapfino;
    src: url("../fonts/Zapfino.ttf") format("truetype");
}

body {
    margin: 0;
    padding: 0;
    font-family: OratorStd, sans-serif;
    background: #DAE2CF url(../images/wood.jpg) repeat left top;
    font-size: 26px;
    color: #3B3B3B;
}

a {
    text-align: center;
    color: black;
    font-family: OratorStd, serif;
    font-size: 16px;
    text-underline: none;
    padding: 10px;
    margin: auto;
    z-index: 3;
}

#menu {
    width: 98%;
    height: 25px;
    margin: 0 auto;
    background: #4f5d5d;
    border: groove 2px #3a3851;
    box-shadow: -4px 3px 4px white;
}

#menu ul {
    margin: 0;
    padding: 0 0 0 0;
    list-style: none;
    line-height: normal;
    text-align: center;
}

#menu li {
    display: inline-block;
}

#menu a {
    display: block;
    letter-spacing: 1px;
    margin: 0 4px;
    line-height: 30px;
    padding: 0 4px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;
    font-family: OratorStd, serif;
    font-size: 18px;
    font-weight: normal;
    color: #3B3B3B;
    border: none;
}

#menu a:hover, #menu .current_page_item a {
    text-decoration: none;
}

#menu .current_page_item a {
}

#content {
    display: block;
    width: 600px;
    background-color: oldlace;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
    font-family: OratorStd, serif;
    font-size: 33px;
    font-weight: normal;
    color: #28242a;
    margin: 90px auto;
    border: groove 15px #4f5d5d;
    box-shadow: -4px 3px 4px white;
}