@font-face {
    font-family: OratorStd;
    src: url("fonts/OratorStd.otf") format("opentype");
}
@font-face {
    font-family: Zapfino;
    src: url("fonts/Zapfino.ttf") format("truetype");
}

body {
    padding: 100px 100px;
    margin: 0;
    font-family: Tahoma, Geneva, sans-serif;
    background-color: powderblue;
        /*background-image: url("images/Desert.jpg");*/
}

#header {
    display: block;
    align-content: center;
    height: 180px;
    width: 50%;
    background-color: #c4e1ff;
    border: groove 4px goldenrod;
    text-align: center;
    font-family: Zapfino, serif;
    font-size: 34px;
    padding: -40px;
    color: black;
    margin: auto;
    box-shadow: -4px 3px 4px white;
    z-index: 1;
    /*background-image: url(images/header_bg.png);*/
}

#mainContent {
    display: block;
    width: 75%;
    height: 22px;
    background-color: #c4e1ff;
    border: groove 4px goldenrod;
    padding: 10px;
    text-align: center;
    margin: auto;
    box-shadow: -4px 3px 4px white;
    z-index:2;
}

h1 {
    display: flex;
    padding: 10px;
    color: black;
    margin: auto;
}

a {
    text-align: center;
    color: black;
    font-family: OratorStd, serif;
    font-size: 16px;
    text-underline: none;
    padding: 10px;
    margin: auto;
    z-index: 3;
}
