<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.url">
            jdbc:mysql://localhost:3307/definery
        </property>
        <property name="connection.driver_class">
            com.mysql.jdbc.Driver
        </property>
        <property name="connection.username">
            meesh
        </property>
        <property name="connection.password">
            DreamandDive406
        </property>
        <mapping resource="User.hbm.xml"/>
        <mapping class="src.login.User"/>
        <mapping class="src.login.UserData"/>
        <mapping class="src.login.UserRole"/>
    </session-factory>
</hibernate-configuration>